<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Build-A-Band</a>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <button ng-click="home.logIn()" class="btn btn-success">Log In</button>
            </form>
        </div>
    </div>
</nav>

<h5 class="col-md-6 text-center col-centered" id="welcome">Welcome to Build-A-Band. Need help finding a guitar player for your rock band?
Drummer for your jazz combo? Lead singer for your cover band?
Search our database to find local musicians and fill that opening so that you can get back to the music.</h5>
